<h1>Scrabble Score Converter</h1>

<p>Enter a word below to see scrabble score.</p>

<form action='/results' method='get'>
  <div class="form-group">
    <label for="userWord">Enter word</label>
    <input id="userWord" name="userWord" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Go!</button>
</form>
